@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

@font-face { /* 나눔고딕 Regular */
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}

@font-face { /* 나눔고딕 Bold */
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 700;
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}

@font-face { /* 나눔고딕 ExtraBold */
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 800;
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
}
body, th, td, input, select, textarea, button{
	font-family: 'Nanum Gothic', 'sans-serif';
}

/*---------------------------------------------------------------------------------------------------------------------------
                                                          Navibar
-----------------------------------------------------------------------------------------------------------------------------*/
#main-nav{width: 500px; background: rgba(49,82,160, 1);}
#main-menu{margin: 0 auto; z-index: 10; border-radius: 0; display: table; min-width: unset;}
.sm-gray {
	background: rgba(49,82,160, 1);
}
.sm-gray a, .sm-gray a.highlighted{
	background: rgba(49,82,160, 1);
}

.sm-gray a.active, .sm-gray a:focus, .sm-gray a:hover{
	background: rgba(49,184,255, 1);
	border-radius: 0 0 8px 8px !important;
	height: 40px;
}

@media (min-width: 768px) {
	.sm-gray > li:last-child > a, .sm-gray > li:last-child > :not(ul) a {
		border-radius: 0 0 8px 8px !important;
	}
}

label{
	margin-bottom: 0;
}

/*---------------------------------------------------------------------------------------------------------------------------
                                                          Main
-----------------------------------------------------------------------------------------------------------------------------*/
.main-wrapper{min-width:440px; max-width: 1200px;}
.main-wrapper .expert-warning{background: #BFBFBF; box-sizing: border-box;max-width: 500px; margin: 5px 5px 5px 0; overflow: hidden; clear: both; cursor: pointer;}
.main-wrapper .image-banner-wrapper{background: #BFBFBF; box-sizing: border-box; max-width: 500px; min-height: 200px; margin: 5px 5px 5px 0; overflow: hidden; clear: both; color: white;}
.main-wrapper .project-table-wrapper{max-width: 480px; margin-left: 10px; margin-bottom: 50px; text-align: center;}
.main-wrapper .project-table-wrapper .project-table{overflow: hidden; text-align: center; margin-top: 30px; margin-bottom: 20px;}
.main-wrapper .project-table-wrapper .project-table > thead{}
.main-wrapper .project-table-wrapper .project-table > thead h2{font-size:24px; padding: 10px;font-weight: bold; margin-bottom: 10px; color: rgba(49,82,160, 1);}
.main-wrapper .project-table-wrapper .project-table > thead a{float: right; margin-right: 5px; margin-bottom: 5px;}
.main-wrapper .project-table-wrapper .project-table > thead th{background-color: rgba(49,82,160, 1); color: #fff; padding: 5px 0; border-right: 1px solid #ccc; border-top: 1px solid #ccc; height: 40px; font-size: 13px;}
.main-wrapper .project-table-wrapper .project-table > tbody td{border-bottom: 1px solid #ccc; height:30px; padding: 15px 10px; font-weight: bold;}
.main-wrapper .project-table-wrapper .project-table .project-table-empty{padding: 15px; font-size: 12px;}
.main-wrapper .project-list-btn{background: rgba(49,184,255, 1); color: white; font-size: 18px; font-weight: bold; padding: 8px 20px; text-decoration: unset;}

/*---------------------------------------------------------------------------------------------------------------------------
                                                          MY PAGE
-----------------------------------------------------------------------------------------------------------------------------*/
.mypage-wrapper{min-width:440px; max-width: 500px; margin-left: 5px;}
.mypage-wrapper > h2{font-size: 20px; font-weight: bold;margin-bottom: 10px; margin-top: 20px;}
.mypage-wrapper #mypage_frm{max-width: 500px; overflow: hidden; border: 2px solid #7F7F7F;}
.mypage-wrapper #mypage_frm > .form-group{margin-left: 0; margin-bottom: 0;text-align: center; min-height: 50px;box-sizing: border-box;border-bottom: 1px solid #7F7F7F;}
.mypage-wrapper #mypage_frm > .form-group.last{border-bottom: 0;}
.mypage-wrapper #mypage_frm > .form-group .col-form-label {float: left; width: 150px; background: #dcdcdc; border-right: 1px solid #7F7F7F; line-height: 34px;}
.mypage-wrapper #mypage_frm > .form-group .col-form-label.two-line{line-height: inherit;}
.mypage-wrapper #mypage_frm > .form-group .col-form-content{float: left;overflow: hidden; width: 350px;padding: 10px;box-sizing: border-box; position: relative; text-align: left;}
.mypage-wrapper #mypage_frm > .form-group .col-form-content > span{font-size: 14px; font-weight: bold; line-height: 25px;}
.mypage-wrapper #mypage_frm > .form-group .col-form-content > div{float: left;}
.mypage-wrapper #mypage_frm > .form-group .col-form-content > div > .form-input-label{float: left;line-height: 35px;width: 100px;text-align: left; box-sizing: border-box;}
.mypage-wrapper #mypage_frm > .form-group .col-form-content > div > .form-input-label.pw-col-form-label{line-height: 90px;}
.mypage-wrapper #mypage_frm > .form-group .col-form-content > div > .form-control{float: left;font-size: 12px;width: 170px;margin-right: 5px;}
.mypage-wrapper #mypage_frm > .form-group .col-form-content > div > .partner-pw-notice{clear: both;color: #999;display: block;text-align: left;}
.mypage-wrapper #mypage_frm > .form-group .col-form-content .modify-pw-btn{font-size: 12px;color: white;background: #333;font-weight: bold;padding: 25px 10px;}
.mypage-wrapper #mypage_frm > .form-group .col-form-content .leave-btn{font-size: 12px; color: white; background: #333; font-weight: bold;}
.mypage-wrapper #mypage_frm > .form-group .col-form-content .form-check-inline{padding: 3px 0;}
.mypage-wrapper #mypage_frm > .form-group .col-form-content .participation-notice{color: #999;}
.mypage-wrapper .btn-wrapper{text-align: right;}
.mypage-wrapper .btn-wrapper .logout-btn{font-size: 12px; color: white; background: #333; font-weight: bold; padding: 5px 10px;}

/*---------------------------------------------------------------------------------------------------------------------------
                                                          Leave PAGE
-----------------------------------------------------------------------------------------------------------------------------*/
.leave-wrapper{min-width:440px; max-width: 1200px; width: 500px; margin-left: 5px;}
.leave-wrapper > h2{font-size: 20px; font-weight: bold;margin-bottom: 10px; margin-top: 20px; text-align: center;}
.leave-wrapper > #leave_frm{padding: 10px; font-size: 14px;}
.leave-wrapper > #leave_frm p{margin-bottom: 20px;}
.leave-wrapper > #leave_frm textarea{background: #eee; border: 1px solid #ddd; width: 100%; padding: 5px; box-sizing: border-box; height: 100px; font-size: 14px;}
.leave-wrapper > #leave_frm > div{text-align: center; margin: 20px 0;}
.leave-wrapper > #leave_frm #cancel-leave-btn{padding: 10px 25px;  background: #595959;  color: white;  border-radius: 5px;  font-size: 14px;  font-weight: bold;  margin-right: 20px;}
.leave-wrapper > #leave_frm #approve-leave-btn{padding: 10px 25px;  background: #4F81BD;  color: white;  border-radius: 5px;  font-size: 14px;  font-weight: bold; }
#leave_reason::-webkit-input-placeholder{color: #c6c6c6;}
#leave_reason::-webkit-moz-placeholder{color: #c6c6c6;}

/*---------------------------------------------------------------------------------------------------------------------------
                                                          PROJECT LIST
-----------------------------------------------------------------------------------------------------------------------------*/
.project-list-wrapper .project-table-wrapper{margin-top: 20px; margin-left: 5px;}
.project-list-wrapper .project-table-wrapper h2{font-size:18px;padding: 10px;font-weight: bold;}
.project-list-wrapper .project-table > thead{background-color:#dcdcdc; text-align: center;}
.project-list-wrapper .project-table > thead a{float: right; margin-right: 5px; margin-bottom: 5px;}
.project-list-wrapper .project-table > thead th{background-color: rgba(49,82,160, 1); color: #fff; padding: 0; border-right: 1px solid #ccc; border-top: 1px solid #ccc; height: 50px; font-size: 13px;}
.project-list-wrapper .project-table > tbody td{border-bottom: 1px solid #ccc; text-align: center; height: 50px;}
.project-list-wrapper .project-table > tbody td.first{border-left: 1px solid #ccc; padding: 10px 0;}
.project-list-wrapper .project-table > tbody td.text-left{text-align: left; padding-left: 10px;}
.project-list-wrapper .project-table > tbody td > .pj_participation{font-size: 12px;padding: 5px;width: 100px;margin: 0 auto;}
.project-list-wrapper .project-table > tbody td > .pj_participation:read-only{color: red; background: white;}
.project-list-wrapper .project-table > tbody td > .pj_participation:disabled{background: #e9ecef; color: black;}
.project-list-wrapper .project-table > tbody tr.reject-pj-participation td{background: #A6A6A6;}
.project-list-wrapper .project-table > tbody td > div{text-align: center; overflow: hidden; margin-top: 3px;}
.project-list-wrapper .project-table > tbody td .cancel-participation-btn{padding: 3px 5px;  background: #C0504D;  color: white;  border-radius: 5px;  font-size: 12px;  font-weight: bold;}
.project-list-wrapper .project-table > tbody td .approve-participation-btn{padding: 3px 5px;  background: #4F81BD;  color: white;  border-radius: 5px;  font-size: 12px;  font-weight: bold; }
.project-list-wrapper .project-table .project-table-empty{padding: 5px;}

.modal{height: auto; padding: 5px; overflow: unset;}
.blocker{z-index: 20 !important;}
#pj-participation-modal.modal{max-width: 960px;}
#pj-participation-modal .modal-content{border: 0;}
#pj-participation-modal .modal-content .modal-pj-name{font-weight: bold; color: #3366CC;}
#pj-participation-modal .modal-content h3.modal-pj-name{font-size: 25px; text-align: center; font-weight: bold; color: #3366CC;}
#pj-participation-modal .modal-content h2.modal-pj-label{font-size:30px;font-weight: bold; text-align: center; margin: 10px 0 20px;}
#pj-participation-modal .modal-content .modal-pj-content{padding: 5px;}
#pj-participation-modal .modal-content .modal-pj-content > h2{font-size:18px;font-weight: bold; text-align: left;}
#pj-participation-modal .modal-content .modal-pj-content-txt{color: #3366CC;}
#pj-participation-modal .modal-content .modal-pj-content > p{margin-top: 5px; font-size: 12px;}
#pj-participation-modal .modal-content .modal-pj-content > #modal-pj-check-label{cursor: pointer;}
#pj-participation-modal .modal-content .modal-pj-content .confirm-label{
	background-color: rgba(119, 119, 119, 1);
	color: #fff;
	padding: 10px 0;
	border-bottom: 2px solid #ccc;
	border-right: 2px solid #ccc;
	width: 120px;
	text-align: center;
	vertical-align: middle;
	font-weight: bolder;
}
#pj-participation-modal .modal-content .modal-pj-content .confirm-input{border: 2px solid #ccc; padding: 0; margin: 0;}
#pj-participation-modal .modal-content .modal-pj-content .confirm-input .confirm-text{
	line-height: 24px;
	font-size: 14px;
	width: 315px;
	padding-left: 5px;
}
#pj-participation-modal .modal-content .modal-pj-content .confirm-input .confirm-small-select{
	width: 60px;
	line-height: 24px;
	font-size: 14px;
	height: 28px;
}
#pj-participation-modal .modal-content .modal-pj-content .confirm-input .confirm-small-text{
	width: 60px;
	line-height: 24px;
	font-size: 14px;
	padding-left: 5px;
}
#pj-participation-modal .modal-content .modal-pj-content .confirm-input .confirm-email-text
{
	width: 145px;
	line-height: 24px;
	font-size: 14px;
	padding-left: 5px;
}

#pj-participation-modal .modal-content .modal-pj-content .all-checkbox-wrapper{text-align: right; font-size: 14px; margin: 5px 0;}
#pj-participation-modal .modal-content .modal-pj-content .all-checkbox-wrapper #all-checkbox{cursor: pointer;}
#pj-participation-modal .modal-content .modal-pj-content .all-checkbox-wrapper #all-checkbox-label{cursor: pointer;}
#pj-participation-modal .modal-content .modal-pj-content .confirm-check-table{border: 2px solid #ccc;}
#pj-participation-modal .modal-content .modal-pj-content .confirm-check-table td{border: 2px solid #ccc; padding: 5px;}
#pj-participation-modal .modal-content .modal-pj-content .confirm-check-label{width: 180px;}
#pj-participation-modal .modal-content .modal-pj-content .confirm-check-approve-label{text-align: center;}
#pj-participation-modal .modal-content .modal-pj-content .confirm-check-input{width: 80px;}
#pj-participation-modal .modal-content .modal-pj-content .confirm-checkbox{display: table; margin: 0 auto; cursor: pointer;}
#pj-participation-modal .modal-content .modal-last-label{text-align: center; font-size: 14px; margin-top: 10px; overflow: hidden; margin-bottom: 10px;}
#pj-participation-modal .modal-content .modal-req-name{float: right; margin-right: 5px; font-size: 14px; font-weight: bold;}

#pj-participation-modal .modal-content .modal-btn-wrapper{text-align: center;}
#pj-participation-modal .modal-content .cancel-participation-btn{padding: 10px 35px; background: #595959;  color: white;  border-radius: 5px;  font-size: 12px;  font-weight: bold;}
#pj-participation-modal .modal-content .approve-participation-btn{width: 160px; padding: 10px 35px; background: #4F81BD;  color: white;  border-radius: 5px;  font-size: 12px;  font-weight: bold; }


/*---------------------------------------------------------------------------------------------------------------------------
                                                          Profile
-----------------------------------------------------------------------------------------------------------------------------*/
.profile-wrapper .profile-logo-wrapper{
	width: 1040px;
	position: relative;
	margin-bottom: 10px;
}

.profile-wrapper .profile-incu-logo{
	right: 0;
	position: absolute;
	top: 70px;
}

.profile-wrapper #profile_frm{
	font-size: 12px;
	overflow: hidden;
}

.profile-wrapper #profile_frm .profile-label{
	background-color: rgba(119, 119, 119, 1);
	color: #fff;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	width: 181px;
	text-align: center;
	vertical-align: middle;
	font-weight: bolder;
}
.profile-wrapper #profile_frm .profile-title{font-size: 20px;}
.profile-wrapper #profile_frm .profile-input{width: 250px; border: 1px solid #ccc;}
.profile-wrapper #profile_frm .profile-input .profile-text{
	line-height: 24px;
	font-size: 14px;
	width: 235px;
	margin: 0 auto;
	padding-left: 5px;
	display: table;
}

.profile-wrapper #profile_frm .profile-input .profile-small-text{
	width: 80px;
	line-height: 24px;
	font-size: 14px;
	padding-left: 5px;
}

.profile-wrapper #profile_frm .profile-full-text{
	width: 700px;
	line-height: 24px;
	font-size: 14px;
	padding-left: 5px;
}

.profile-wrapper #profile_frm .profile-input .profile-small-select{
	line-height: 24px;
	height: 28px;
	width: 60px;
	margin-left: 6px;
	font-size: 14px;
}

.profile-wrapper #profile_frm .profile-img-wrapper{
	background-color: rgba(119, 119, 119, 1);
	border: 1px solid #eee;
}

.profile-wrapper #profile_frm .profile-img-wrapper #profile-img{
	width: 0;
	height: 0;
}

.profile-wrapper #profile_frm .profile-img-wrapper .profile-img-label{
	border: 1px solid #eee;
	background-color: #FFFFFF;
	color: rgba(119, 119, 119, 1);
	display: table;
	margin: 0 auto;
	width: 170px;
	height: 235px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.profile-wrapper #profile_frm .profile-img-wrapper .profile-img-label img{
	width: 100%;
}

.profile-wrapper #profile_frm .profile-img-wrapper .profile-img-label .preview-img-span{
	display: inline-block;
	padding-top: 80px;
}

.profile-wrapper #profile_frm .profile-input .profile-birthday-text{
	width: 73px;
	line-height: 24px;
	font-size: 14px;
	padding-left: 5px;
	margin-top: 5px;
	margin-left: 7.5px;
	float: left;
}

.profile-wrapper #profile_frm .profile-input .profile-birthday-select{
	line-height: 24px;
	height: 28px;
	width: 70px;
	font-size: 14px;
	margin-top: 5px;
	margin-left: 7.5px;
	float: left;
}

.profile-wrapper #profile_frm .profile-input .profile-zipcode{
	width: 240px;
	line-height: 24px;
	font-size: 14px;
	margin-left: 8px;
	padding-left: 5px;
}
.profile-wrapper #profile_frm .profile-input .profile-zipcode-btn{padding: 5px 10px; background: #333; color: white;}
.profile-wrapper #profile_frm .profile-input .profile-addr{
	width: 665px;
	line-height: 24px;
	font-size: 14px;
	padding-left: 5px;
	margin-left: 7.5px;
}

.profile-wrapper #profile_frm .profile-input .profile-email-text{
	line-height: 24px;
	font-size: 14px;
	width: 240px;
	padding-left: 5px;
	margin-left: 7.5px
}

.profile-wrapper #profile_frm .profile-input .profile-email-tlt{
	margin-left: 6px;
}

.profile-wrapper #profile_frm .profile-input .profile-email-select{
	line-height: 24px;
	height: 28px;
	width: 137px;
	margin-left: 6px;
}

.profile-wrapper #profile_frm .profile-input .profile-checkbox{
	float: left;
	margin-right: 5px;
}

.profile-wrapper #profile_frm .profile-input .profile-checkbox-label{
	float: left;
	margin-right: 5px;
	cursor: pointer;
}

.profile-wrapper #profile_frm .profile-lpc-text{
	float: left;
	line-height: 24px;
	font-size: 14px;
	width: 104px;
	padding-left: 5px;
	margin-left: 7.5px;
	margin-top: 5px;
	text-align: center;
}

.profile-wrapper #profile_frm .profile-lpc-tlt{
	float: left;
	display: inline-block;
	margin-left: 7.5px;
	line-height: 40px;
}

.profile-wrapper #profile_frm .plus-label-wrapper{
	position: relative;
}

.profile-wrapper #profile_frm .plus-wrapper{
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.profile-wrapper #profile_frm .plus-wrapper .plus-div{
	overflow: hidden;
}

.profile-wrapper #profile_frm .plus-wrapper .profile-label{
	float: left;
}

.profile-wrapper #profile_frm .plus-wrapper .profile-text{
	line-height: 24px;
	font-size: 14px;
	width: 235px;
	padding-left: 5px;
	margin: 5px 7.5px;
	float: left;
}

.profile-wrapper #profile_frm .plus-wrapper .plus-input{
	position: relative;
}

.profile-wrapper #profile_frm .plus-wrapper .profile-full-text{
	line-height: 24px;
	font-size: 14px;
	width: 665px;
	padding-left: 5px;
	margin: 5px 7.5px;
}

.profile-wrapper #profile_frm .plus-wrapper .profile-full-text2{
	line-height: 24px;
	font-size: 14px;
	width: 815px;
	padding-left: 5px;
	margin: 5px 7.5px;
	margin-left: 40px;
}

.profile-wrapper #profile_frm .plus-label-wrapper .plus-btn{
	border: 1px solid #eee;
	padding: 0 5px 0 4px;
	background: #eee;
}

.profile-wrapper #profile_frm .plus-wrapper .minus-btn{
	position: absolute;
	border: 1px solid #eee;
	padding: 0 5px;
	background: #eee;
	top: 7px;
	left: 5px;
	font-weight: bold;
}

.profile-wrapper #profile_frm .profile-submit-btn{
	padding: 10px 20px;
	background: #333;
	color: white;
	font-weight: bold;
	font-size: 15px;
	display: table;
	margin: 0 auto;
}

.profile-wrapper #profile_frm .file-wrapper{
	border: 1px solid #ccc;
}

.profile-wrapper #profile_frm .file-title{
	margin-top: 40px;
	margin-bottom: 15px;
}

.profile-wrapper #profile_frm .file-content{
	display: inline-block;
	padding-left: 20px;
}

.profile-wrapper #profile_frm .file-upload{
	width: 0;
	height: 0;
}

.profile-wrapper #profile_frm .file-upload-btn{
	padding: 5px 40px;
	background: #333;
	color: white;
	cursor: pointer;
}

.profile-wrapper #profile_frm .file-upload-text{
	padding: 5px 10px;
	border: 1px solid #ccc;
	display: inline-block;
}

.profile-wrapper #profile_frm .file-max-label{
	color:#808080;
	font-size:11px;
}

.profile-wrapper #profile_frm .profile-notice{
	color:#808080;
	font-size:11px;
	margin: 15px 0 40px;
	text-align: center;
}

.profile-wrapper #profile_frm .bank-wrapper{
	border: 1px solid #ccc;
	border-top: 0;
	overflow: hidden;
}

.profile-wrapper #profile_frm .bank-wrapper .bank-content-wrapper{
	float: left;
}

.profile-wrapper #profile_frm .bank-wrapper .profile-bank-main-label{
	float: left;
	height: 63px;
	box-sizing: border-box;
	padding-top: 23px;
}

.profile-wrapper #profile_frm .bank-wrapper .profile-bank-label{
	width: 140px;
}

.profile-wrapper #profile_frm .bank-wrapper .profile-bank-select{
	line-height: 24px;
	font-size: 14px;
	height: 28px;
}

.profile-wrapper #profile_frm .bank-wrapper .profile-bank-text#bk_num{
	width: 190px;
}

.profile-wrapper #profile_frm .bank-wrapper .profile-bank-text{
	line-height: 24px;
	font-size: 14px;
	width: 100px;
	padding-left: 5px;
}

.profile-wrapper #profile_frm .bank-wrapper .bank-notice{
	clear: both;
	display: block;
	margin: 5px 0 5px 5px;
	color: #808080;
}
