@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* base */
*{margin:0; padding:0; font-family:'Nanum Gothic','나눔고딕'; line-height:110%; text-decoration:none; letter-spacing:normal;}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {padding:0; margin:0;}
textarea {border:1px solid #f0f5f8; padding:5px;}
select {border: 1px solid #dbdbdb; height:25px;}
input, option, textarea {background-color:#fff; vertical-align:middle;}
img { border:0;}
div{overflow:visible;}

/* fieldset */
fieldset {padding:0; border:none;margin:0;}
fieldset legend {position:absolute; left:0; top:0; overflow:hidden; font-size:0; line-height:0; height:0;visibility:hidden;padding:0;margin:0;}
button {border:0; background:none; cursor:pointer; clear:both; margin:0; padding:0;}
form, fieldset {border:0;}
address, caption, em {font-weight:normal; font-style:normal;}

/*png*/
.png {_display:inline-block;}
.png img {_filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}
.png24 {tmp:expression(setPng24(this));}

/* list */
ul {list-style:none;}
ol {list-style:decimal; margin-left:25px;}
li {list-style:none; display:inline;}
li img {vertical-align:middle;}
.leftLi li {display:inline; float:left;}

/* heading */
hr {position:absolute; width:0; height:0; font-size:0; overflow:hidden; line-height:0;}
h1, h2, h3, h4, h5, h6 {font-weight:normal; font-size:100%;}
.h_none{display:none;}
h2 {color:#333; font-size:18px; font-weight:700;}
h3 {color:#333; font-size:16px; font-weight:300;}
h4 {color:#333; font-size:14px; font-weight:700;}
h5 {color:#333; font-size:12px; margin-bottom:5px;}

/* ifram */
iframe {margin: 0; padding: 0; border: none;}

/* clear */
.clear {clear:both;}

/* 숨김 */
.di_no {display:none;}
.vi_hid {visibility:hidden;}

/*align*/
.alignLeft {text-align:left;}
.alignRight {text-align:right;}
.alignCenter {text-align:center;}
.alignTop  { vertical-align:top; }
.alignMiddle *{ vertical-align:middle; } /*자식 요소의 수직 중앙정렬*/

/*float*/
.floatleft {float:left;}
.floatright {float:right;}
.floatnone {float:none;}

/* font-style */
.b {font-weight:700; }
.b300 {font-weight:300;}
.b500 {font-weight:500;}
.b600 {font-weight:600;}
.bnormal { font-weight:normal;}
.underline {text-decoration:underline; line-height:150%;}

.fnt11 { font-size:11px/*11px*/;}
.fnt10 { font-size:10px/*10px*/;}
.fnt12 { font-size:12px;}
.fnt13 { font-size:13px;}
.fnt13_5 { font-size:13.5px;}
.fnt14 { font-size:14px;}
.fnt15 { font-size:15px;}
.fnt16 { font-size:16px;}
.fnt18 { font-size:18px;}
.fnt20 { font-size:20px;}
.fnt25 { font-size:25px;}
.fnt30 { font-size:30px;}
.fnt35 { font-size:35px;}

.green {clear:both; color:#007067;}
.green2 {clear:both; color:#00a496;}
.navy{clear:both; color:#1f3853;}
.black000 {clear:both; color:#000000;}
.gray333 {clear:both; color:#333333;}
.gray666 {clear:both; color:#666666;}
.gray999 {clear:both; color:#999999;}
.grayb4b4 {clear:both; color:#b6c0c5;}
.grayd0d0 {clear:both; color:#d0d0d0;}
.gray_icon{color:#ced5da;}
.red {color:#ff441f;}

/* 백그라운드 컬러 */
.bg_green {background:#00a496;}
.bg_green2 {background:#e8f7f6;}
.bg_navy {background:#1f3853;}
.bg_gray {background:#eef4f8;}

/* 객체 width값 조정 */
.w100px {width:100px;}
.w110px {width:110px;}
.w120px {width:120px;}
.w127px {width:127px;}
.w130px {width:130px;}
.w150px {width:150px;}
.w200px {width:200px;}
.w250px {width:250px;}
.w300px {width:300px;}
.w350px {width:350px;}
.w400px {width:400px;}
.w500px {width:500px;}
.w100p {width:100%;}
.w50p {width:50%;}

/* LINE */
.h-seperate{
	height:6px;
	width:2px;
	margin:0px 10px 0px 10px;
	border-left:1px solid #e5e9ec;
	display:inline;
	position: relative;
    top: 2px;
}

.w-line {border-bottom:1px solid #e1e1e1;}


/*---------------------------------------------------------------------------------------------------------------------------
                                                  INPUT, BUTTON, LINE STYLE
-----------------------------------------------------------------------------------------------------------------------------*/
/* INPUT STYLE */
.input_w, .inp {
	padding:3px 3px 3px 5px;
	height:22px;
	border:1px solid #ced5da;
	color:#333;
	}
	
.inp:hover {
	border:1px solid #00a496;
	background:#f0f5f8;
	padding:3px 3px 3px 5px;
	height:22px;
	color:#333;}


.input_w:hover {
	border:1px solid #00a496;
	background:#f0f5f8;
	padding:3px 3px 3px 5px;
	height:22px;
	color:#333;}

.input_w_login {
	border:1px solid #FFF;
	padding:3px 3px 3px 5px;
	height:25px;
	border:1px solid #FFF;
	color:#555;
	font-weight:700;
	font-size:14px;
}

.input_g {
	border:1px solid #f0f5f8;
	background:#f0f5f8;
	padding:3px 3px 3px 5px;
	height:25px;
	color:#555;
}

.checkbox01 {vertical-align:middle;}
.checkbox01 input {border:1px solid #d8d8d8; border-left:0; border-top:0; margin:5px 5px 5px 0;}
.checkbox01 label {margin-right:10px;}

.radiobox01 {vertical-align:middle;}
.radiobox01 input { border-left:0; border-top:0; margin:5px 5px 5px 0;}
.radiobox01 label {margin-right:10px;}

.input_date input {
	border:1px solid #ced5da;
	background:#FFF;
	padding:3px;
	height:20px;
	width:120px;
	color:#333;
	font-size:12px;
	font-weight:700;
	text-align:center;}

.input_date input:hover, .input_date input:focus, .input_date input:active {
	border:1px solid #ced5da;
	background:#f0f5f8;
	padding:3px;
	height:20px;
	width:120px;
	color:#333;
	font-size:12px;
	font-weight:700;
	text-align:center;}


/* 라디오박스 */
input[type=radio].css-radio {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0;
	border:0;
	}

input[type=radio].css-radio + label.css-label {
	padding-left:20px;
	height:17px; 
	display:inline-block;
	line-height:17px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
	}

input[type=radio].css-radio:checked + label.css-label {
	background-position: 0 -17px;
	}
						
.css-label{ background-image:url(../images/common/btn/checkbox_img2.png); }


/* 찾아보기 */
.file_style01 {
	background:#e9eff2;
	padding:20px;
	position:relative;
	}
.file_wrap {
	width:400px;
	height:31px;
	position:relative;
	}
.file_text {
	float:left;
	width:300px;
	height:22px;
	border:1px solid #c9cfd3;
	background:#ffffff;
	color:#777;
	padding:3px;
	}
.file_btn {
	display:inline-block;
	width:84px;
	height:30px;
	color:#FFF;
	background:url(../images/common/btn/btn_file.png) 0 0 no-repeat;
	cursor:pointer;
	position:absolute;
	top:0px;
	left:315px;
	z-index:99;
	}
.file_add {
	filter:alpha(opacity=0);
	opacity:0;
	width:84px;
	height:31px;
	z-index:90;
	cursor:pointer;
	}
.file_img{
	padding:20px;
	border:1px solid #f0f5f8;
	text-align:center;
	cursor:pointer;
}

.file_style02 {
	background:#FFF;
	position:relative;
}
.file_style02 .file_text {
	float:left;
	width:410px;
	height:22px;
	border:1px solid #e5e9ec;
	background:#e5e9ec;
	padding:3px;
	color:#666;
	font-size:11px;
}
.file_style02 .file_btn {
	display:inline-block;
	width:84px;
	height:30px;
	color:#FFF;
	background:url(../images/common/btn/btn_file.png) 0 0 no-repeat;
	cursor:pointer;
	position:absolute;
	top:0px;
	left:410px;
	z-index:99;
	cursor:pointer;
}

/* SELECT STYLE */
.select01 select {
    border: 1px solid #ced5da; 
    height:23px; 
	padding:3px;
	font-size:12px;
}

.select01 input {
	border: 1px solid #e5e9ec; 
	height:30px; 
	padding:3px;
}


.select03 {
    border: 1px solid #ced5da; 
    height:28px; 
	padding:3px;
	font-size:12px;
}

/* textarea */
.textarea01{border:1px solid #ced5da; padding:5px; line-height:16px}

/* BUTTON STYLE */
.btn {
    display: inline-block;
    padding: 7px 8px;
    margin-bottom: 0;
    font-size: 13px;
    color: #5e5e5e;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: #d1dade;
	background-image:none !important;
	border: none;
	text-shadow: none;
	box-shadow:none;

}

.btn2 {
    display: inline-block;
    padding: 5px 8px;
    margin: 0;
    font-size: 12px;
    color: #5e5e5e;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: #d1dade;
	background-image:none !important;
	border: none;
	text-shadow: none;
	box-shadow:none;
}

.btn:focus {outline:none;}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {background-color: #c1cace;}
.btn-cons {min-width: 100px;}
.btn-green{background-color:#00a496; color: #fff; font-weight:700; border:1px solid #008a7e;}
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .btn-green.disabled, .btn-green[disabled] {background-color: #0b9c8f; border:1px solid #008a7e;}
.btn-navy{background-color:#404857; color: #fff; font-weight:700; border:1px solid #22262e; letter-spacing:normal;}
.btn-navy:hover, .btn-navy:focus, .btn-navy:active, .btn-navy.active, .btn-navy.disabled, .btn-navy[disabled] {background-color: #2e3441; border:1px solid #000;}
.btn-white{background-color:#f4f4f4; color: #5e5e5e; font-weight:700; border:1px solid #d0d0d0;}
.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .btn-white.disabled, .btn-white[disabled] {background-color: #f4f4f4; color: #000; border:1px solid #b4b9be;}
.btn-gray{background-color:#777777; color: #FFF; font-weight:700; border:1px solid #444;}
.btn-gray:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .btn-white.disabled, .btn-white[disabled] {background-color: #444; border:1px solid #555;}

/*---------------------------------------------------------------------------------------------------------------------------
                                                          BASIC
-----------------------------------------------------------------------------------------------------------------------------*/
div {margin:0; padding: 0;}
html, body {padding: 0; margin:0; }
body{
	background-color: #fff;
	margin: 30px;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}
#copyarea { float:left; clear:both; color:#343841; font-size:10px; font-weight:700; padding:20px 0px 10px 10px;}
.copy{border-left:4px solid #0aa699; padding:0px 0px 2px 10px;}



/*---------------------------------------------------------------------------------------------------------------------------
                                                          LOGIN
-----------------------------------------------------------------------------------------------------------------------------*/
.loginfrm{margin-top: 20px;}
.loginfrm table{margin: 20px auto 0;}
.loginfrm table.login-total-table{position: relative;}
.loginfrm table.login-total-table .login-header{text-align: center;}
.loginfrm table.login-total-table .login-header img{width: 100%}
.loginfrm table.login-total-table .login-logo{width: 320px;}
.loginfrm table.login-total-table .login-title{text-align:center; font-size:40px; margin: 40px 0 20px; font-weight:600; color:black;}
.loginfrm table.login-total-table div.m-b-5{margin-top:20px;text-align: left;}
.loginfrm table.login-total-table .login-input-wrapper{height: 120px;}
.loginfrm table.login-total-table .login-input-table{position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 0%);}
.loginfrm table.login-total-table .idpw {text-align: left; font-size:14px; font-weight:700; color:#333;}
.loginfrm table.login-total-table input#user_id{ime-mode:disabled; border: 1px solid #ccc; padding: 3px 10px; height: 30px;}
.loginfrm table.login-total-table input#pw{border: 1px solid #ccc; padding: 3px 10px; height: 30px;}
.loginfrm table.login-total-table div.login-etc-wrapper{text-align:right; margin-top:15px;}
.loginfrm table.login-total-table div.login-etc-wrapper .id-save-wrap{float: left;display: inline-block; font-size: 14px; overflow: hidden;}
.loginfrm table.login-total-table div.login-etc-wrapper .id-save-wrap > label{padding-left: 5px; color: #333;}
.loginfrm table.login-total-table div.login-etc-wrapper > a {font-size: 12px; color: black;}
.loginfrm table.login-total-table div.login-etc-wrapper .btn-cons {background: #0C4DA2; border-color: #0C4DA2;}
.login-find-wrapper{margin: 20px 0; text-align: center;}
.login-find-wrapper .find-btn{border: 1px solid #ccc; padding: 5px 15px; font-weight: bold; border-radius: 5px;}
.login-find-wrapper .find-btn:nth-child(1){margin-right: 10px;}


/*---------------------------------------------------------------------------------------------------------------------------
                                                          회원가입
-----------------------------------------------------------------------------------------------------------------------------*/
.regist-step{color: #333;overflow: hidden; margin: 20px auto 10px;display: table;}
.regist-step li.step{float: left;width: 100px;line-height: 20px;text-align: center;font-size: 15px; padding-bottom: 10px;}
.regist-step li.label{float: left;width: 50px;line-height: 40px;text-align: center;}
.regist-step li.active{font-weight: bold; border-bottom: 3px solid #333;}

.termFrm{margin-top: 5px;}
.termFrm .term-title{margin: 20px 0 20px 0;}
.termFrm .term-content-wrapper{text-align: right; margin-bottom: 10px;}
.termFrm .term-content-wrapper .term-sub-title{	text-align: left;	font-weight: bold;	margin-bottom: 7px;}
.termFrm .term-content-wrapper .term-content{width: 400px;	height: 150px;	border: 1px solid #ccc;	margin-bottom: 5px;	padding: 10px;	box-sizing: border-box;	overflow-y: auto;	word-break: break-all;	text-align: left;}
.termFrm .term-content-wrapper label{cursor: pointer;}
.termFrm .btn-dark{padding: 8px 20px;font-weight: bold; display: table;	margin: 5px auto;}

.registFrm{width: 360px;margin: 0 auto;}
.registFrm .form-group{margin-bottom: 0;}
.registFrm .regist-title{margin: 30px 0 20px 0;}
.registFrm .regist-label{display: block; background: #23272b; color: white;padding: 10px 5px 10px 10px;margin: 0;border-bottom: 0;letter-spacing: 3px;}
.registFrm .input-wrapper{overflow: hidden; padding: 5px 7px; box-sizing: border-box; border: 1px solid #ced4da;}
.registFrm .input-wrapper label{cursor: pointer;}
.registFrm input{font-size: 14px;}
.registFrm #f_id{float: left;width: 260px;}
.registFrm #f_email1{width: 110px;float: left;}
.registFrm .f_email_tlt{float: left; line-height: 30px; margin: 0 5px;}
.registFrm #f_email2{width: 115px;float: left;}
.registFrm #select-email{width: 90px;float: left;font-size: 11px;padding: 3px;height: 35px;margin-left: 5px;}
.registFrm #f_hp1{width: 90px;float: left;margin-right: 15px;}
.registFrm #f_hp2{width: 110px;float: left;margin-right: 15px;}
.registFrm #f_hp3{width: 110px;float: left;}
.registFrm input.f_license_type{margin-left: 10px;}
.registFrm input.f_license_type:first-child{margin-left: 0;}
.registFrm .regist-check-btn{background: #23272b;padding: 5px 10px;color: white;margin-left: 10px;line-height: 1.5;font-size: 14px;margin-top: 1px;}
.registFrm .btn-dark{padding: 8px 20px;	font-weight: bold;	display: table;	margin: 5px auto;}
.registFrm .f_license_type_detail{overflow: hidden; display: none;}
.registFrm .f_license_type_detail div{overflow: hidden; margin-bottom: 10px;}
.registFrm .f_license_type_detail label{width: 100px;float: left;}
.registFrm .f_license_type_detail input{width: 220px;float: left; margin-left: 20px;}
.registFrm input.f_participation{margin-left: 10px;}
.registFrm input.f_participation:first-child{margin-left: 0;}
.registFrm .f_participation_notice{color: #ccc;}

.font_gray_01{color: #c6c6c6; font-size: 12px;}

.finishFrm{text-align: center;}
.finishFrm h2{text-align: center;margin: 50px 0 30px;}
.finishFrm .btn-dark{padding: 8px 20px;	font-weight: bold;	display: table;	margin: 5px auto;}

/*---------------------------------------------------------------------------------------------------------------------------
                                                          ID/PW 찾기
-----------------------------------------------------------------------------------------------------------------------------*/
.findIdFrm{width: 360px;margin: 0 auto; color: black; padding: 20px 0;}
.findIdFrm .find-id-total-wrapper{width: 320px;margin: 0 auto 10px;text-align: left;color: black;box-sizing: border-box; padding: 20px 15px;}
.findIdFrm .find-id-total-wrapper > h2{font-size: 24px; font-weight: normal;}
.findIdFrm .find-id-total-wrapper > h1{font-size: 30px; margin: 20px 0;}
.findIdFrm .find-id-total-wrapper > .form-control{padding-left: 5px; font-size: 14px;}
.findIdFrm .btn{background: #0C4DA2; border-color: #0C4DA2; width: 100%;}
.findIdFrm .btn:hover{background: #0C4DA2; color: white; border-color: #0C4DA2;}

.findPwFrm{width: 360px;margin: 0 auto; color: black; padding: 20px 0;}
.findPwFrm .find-pw-total-wrapper{width: 320px;margin: 0 auto 10px;text-align: left;color: black;box-sizing: border-box; padding: 20px 15px;}
.findPwFrm .find-pw-total-wrapper > h2{font-size: 24px; font-weight: normal;}
.findPwFrm .find-pw-total-wrapper > h1{font-size: 30px; margin: 20px 0;}
.findPwFrm .find-pw-total-wrapper > .form-control{padding-left: 5px; font-size: 14px;}
.findPwFrm .btn{background: #0C4DA2; border-color: #0C4DA2; width: 100%;}
.findPwFrm .btn:hover{background: #0C4DA2; color: white; border-color: #0C4DA2;}
.findPwFrm .btn:disabled{background: #999999; color: white; border-color: #999999;}
.findPwFrm input:disabled{border: 0;background: white;margin-top: 20px;}
.findPwFrm .find-pw-notice{font-weight: normal; text-align: center; margin-top: 10px;}

.find-confirm-total-wrapper{width: 320px;margin: 0 auto 10px;text-align: left;color: black;box-sizing: border-box; padding: 40px 15px 20px;}
.find-confirm-total-wrapper > h2{font-size: 24px; font-weight: normal;}
.find-confirm-total-wrapper > h1{font-size: 30px; margin: 20px 0;}
.find-confirm-total-wrapper .find-id{font-weight: bold; margin-bottom: 20px; font-size: 18px;}
.find-confirm-total-wrapper .find-confirm-notice{font-weight: normal; text-align: center; margin-top: 10px;}
#find-confirm-btn{background: #0C4DA2; border-color: #0C4DA2; width: 100%;}
#find-confirm-btn:hover{background: #0C4DA2; color: white; border-color: #0C4DA2;}
#find-confirm-btn:disabled{background: #CCCCCC; color: white; border-color: #0C4DA2;}

.form-control::-webkit-input-placeholder{color: #c6c6c6;}
.form-control::-webkit-moz-placeholder{color: #c6c6c6;}
/*---------------------------------------------------------------------------------------------------------------------------
                                                          CUSTOM
-----------------------------------------------------------------------------------------------------------------------------*/
#continer{
	border: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #d0d0d0;
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}

footer{
	padding-bottom: 20px;
}

footer p{
	font-size: 13px;
	text-align: center;
	line-height: 20px;
}
