@charset "utf-8";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}

/* 20160215
body,th,td,input,select,textarea,button {font-size:12px;line-height:1.5;font-family:Dotum,Arial,sans-serif;color:#333; margin-left: 10px;} /* color값은 디자인가이드에 맞게사용 */

body,th,td,input,select,textarea,button {font-size:11px;line-height:1.5;font-family:NanumGothic,gulim,helvetica,sans-serif;color:#333; margin: 2px;} /* color값은 디자인가이드에 맞게사용 */
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:underline}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
caption{display: none;}

/* common */
p.center_wrap{text-align:center; padding:20px 0;}
	input.check_style1{margin-bottom:4px;}
	button.btn_style1{border-radius:4px; background-color:#565656; padding:15px 50px;}
	button.btn_style1 span{color:#fff; font-weight:bold;}
	button.btn_style2{border-radius:4px; text-decoration:underline; color:#21A5A7; margin-left:5px;}
	button.btn_small{border-radius:4px; background-color:#565656; color:#fff; padding:3px 10px; margin-bottom:4px; /*margin-left:5px;*/}
		button.btn_small_disabled{border-radius:4px; background-color:#ccc; color:#fff; padding:3px 10px; margin-bottom:4px; /*margin-left:5px;*/}
		button.btn_file{border-radius:2px; background-color:#777; color:#fff;padding:0px 3px;font-size:11px;}
	button.btn_long{border-radius:4px; background-color:#d5d5d5; padding:10px 300px; margin-bottom:4px; margin-left:5px;}
	button.btn_small_memo{border-radius:4px; background-color:#565656; color:#fff;padding:3px 9px; height:42px;}
		button.btn_small_memo_disabled{border-radius:4px; background-color:#ccc; color:#fff; padding:3px 9px; height:42px;}
		button.btn_big_memo{border-radius:4px; background-color:#d5d5d5; padding:3px 10px; height:60px; width: 60px; font-weight:bold;}
	button.btn_big_memo_disabled{border-radius:4px; background-color:#ccc; color:#fff; padding:3px 10px; height:60px; width: 60px; font-weight:bold;}
		button.btn_big_search{border-radius:4px; background-color:#565656; color:#FFFFFF; padding:3px 10px; height:60px; width: 60px; font-weight:bold;}
	button.btn_small_sort_type{border-radius:4px; background-color:#F9F; padding:2px 8px; height:28px;}
	button.btn_small_choice{border-radius:4px; background-color:#F9F; padding:2px 8px; height:28px;}
span.txt_gray{color:#b5b5b5;}
p.stress{text-align:center; font-size:20px; font-weight:bold; padding-bottom:20px;}
p.top_dotted_wrap{border-top:1px dotted #ccc; padding-top:5px; margin-top:10px;}
p.ul_title{padding-left:20px;}

/* position_wrap */
.default_wrap{position:relative; overflow:hidden; padding:5px 0;}
.left_wrap{float:left;}
.right_wrap{float:right;}
.btn_wrap{position:relative; overflow:hidden; text-align:center; padding:15px 0;}
.left_btn_wrap{position:absolute; top:5px; left:5px;}
.right_btn_wrap{position:absolute; top:5px; right:5px;}
.box_wrap{position:relative; overflow:hidden; margin-top:10px; margin-bottom:30px;}
/*.box_wrap .line{display:inline-block; margin-bottom:10px;}*/
.box_wrap .li
ne{font-size: 14px; margin-left: 15px;}


/* main */
@media screen and (min-width:440px){ /* Smartphones (portrait and landscape) */
  .main_left{
		float:left;
    width: 50%;
  }
  .main_right{
		padding-left:6px;
		float:left;
    width: 50%;
  }
}
@media screen and (max-width:440px){ /* Desktops and laptops */
	.main_left{
		float:left;
    width: 100%;
  }
  .main_right{
		float:left;
    width: 100%;
  }
}


/* title & kind title */
h2.title{font-weight:bold; font-size:30px;}
h2.title_middle{font-weight:bold; font-size:24px; margin-left:25px;}
h2.title_kind0{font-weight:bold; font-size:30px; margin-bottom:10px;}
h2.title_kind1{font-weight:bold; font-size:30px; margin-bottom:10px; color:#f77b18;}
h2.title_kind2{font-weight:bold; font-size:30px; margin-bottom:10px; color:#5175fe;}
h2.title_kind3{font-weight:bold; font-size:30px; margin-bottom:10px; color:#63F;}
h2.title_kind4{font-weight:bold; font-size:30px; margin-bottom:10px; color:#f77b18;}
h2.title_kind5{font-weight:bold; font-size:30px; margin-bottom:10px; color:#63F;}

/* table_style1*/

table tbody td span.txt{display:inline-block;}
table tbody td input.radio{padding-left:15px; margin-right:5px; margin-bottom:2px;}
table tbody td input.first{padding-left:0;}
/*table tbody td .label_txt{background:url('../images/listyle_bg2.gif') 0 0 no-repeat; padding:0 10px; margin-left:10px;}
table.sub{border-top:1px solid #ccc;}
table tbody td .ellipsis{width:130px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
table tbody td.link_td a.under_blue{text-decoration:underline; color:#21A5A7;}

.table_style1{}
.table_style1 li {font-size:13px; margin:5px 0 5px 0;}
.table_style1 table {width:100%; margin-bottom:10px; margin-top:10px;}
.table_style1 table thead th{background-color:#21A5A7; color:#fff; padding:7px 0;}
.table_style1 table tbody th{color:#777; padding:5px 0; border-bottom:1px solid #ccc; border-right:1px solid #ccc;}
/*	.admin_content1 promodtion_regist_table_title_kind1{font-size:16px; color:#f77b18;}
	.admin_content1 promodtion_regist_table_title_kind2{font-size:16px; color:#5175fe;}
	.admin_content1 promodtion_regist_table_title_kind3{font-size:16px; color:#63F;}*/
/*
.table_style1 table tbody td{padding:4px; border-bottom:1px solid #ccc; border-right:1px solid #ccc;}
.table_style1 table tbody td.last{border-right:0;}
/*
.table_style2{overflow-x:auto; margin:0 auto;}
.table_style2 table {margin-bottom:10px; width:99%;}
.table_style2 table thead th{background-color:#21A5A7; color:#fff; padding:7px 0; border-right:1px solid #ccc;}
.table_style2 table thead th.last{border-right:0;}
.table_style2 table tbody th{color:#777; padding:5px 0; border-bottom:1px solid #ccc; border-right:1px solid #ccc;}
.table_style2 table tbody td{padding:10px 5px; border-bottom:1px solid #ccc; border-right:1px solid #ccc; text-align:center;}
.table_style2 table tbody td.alignL{text-align:left;}
.table_style2 table tbody td.alignR{text-align:right;}
.table_style2 table tbody td.bold{font-weight:bold;}
.table_style2 table tbody td.last{border-right:0;}
.table_style2 table tbody td.gubun_td .gubun1{color:green;}
.table_style2 table tbody td.gubun_td .gubun2{color:blue;}
.table_style2 table tbody td.gubun_td .gubun3{color:orange;}
.table_style2 table tbody td.chk_td .wait{color:red;}
.table_style2 table tbody td.chk_td .complete{color:#aaa;}
.table_style2 table tbody td.link_td a{text-decoration:underline;}
.table_style2 table tbody td.link_td a.red{color:red;}
.table_style2 table tbody td.date_td .date{color:blue;}
.table_style2 table tbody td.date_td .time{color:green;}
.table_style2 table tbody td .cf{color:red;}
.table_style2 table thead.bdt th{border-top:1px solid #ccc;}
.table_style2 table thead.bdt th.first{border-left:1px solid #ccc;}
.table_style2 table tbody.bdl td.first{border-left:1px solid #ccc;}
.table_style2 table thead th.blank{background-color:#FFF; border-bottom:0;border-top:0;}
.table_style2 table tbody td.blank{border-bottom:0;}
*/
.main_table_style{overflow-x:auto; margin:0 auto;}
/*.main_table_style table {margin-bottom:10px; width:1900px;}*/
.main_table_style table {margin-bottom:10px;}
.main_table_style table thead th{background-color:#31A5A7; color:#fff; padding:7px 0; border-right:1px solid #ccc;}
.main_table_style table thead th.last{border-right:0;}
.main_table_style table tbody th{color:#777; padding:5px 0; border-bottom:1px solid #ccc; border-right:1px solid #ccc;}
/*.main_table_style table tbody td{padding:10px 5px; border-bottom:1px solid #ccc; border-right:1px solid #ccc; text-align:center;}*/
.main_table_style table tbody td{padding:0; border-bottom:1px solid #ccc; border-right:1px solid #ccc; text-align:center;}
.main_table_style table tbody td.alignL{text-align:left;}
.main_table_style table tbody td.alignR{text-align:right;}
.main_table_style table tbody td.bold{font-weight:bold;}
.main_table_style table tbody td.last{border-right:0;}
.main_table_style table tbody td.gubun_td .gubun1{color:green;}
.main_table_style table tbody td.gubun_td .kind_gubun1{color:#f77b18;}
.main_table_style table tbody td.gubun_td .kind_gubun2{color:#5175fe;}
.main_table_style table tbody td.gubun_td .kind_gubun3{color:#63F;}
.main_table_style table tbody td.gubun_td .kind_gubun4{color:#f77b18;}
.main_table_style table tbody td.gubun_td .kind_gubun5{color:#63F;}
.main_table_style table tbody td.gubun_td .gubun3{color:blue;}
.main_table_style table tbody td.gubun_td .gubun3{color:orange;}
.main_table_style table tbody td.chk_td .wait{color:red;}
.main_table_style table tbody td.chk_td .complete{color:#aaa;}
.main_table_style table tbody td.link_td a{text-decoration:underline;}
.main_table_style table tbody td.link_td a.red{color:red;}
.main_table_style table tbody td.date .day{color:blue;}
.main_table_style table tbody td.date .time{color:green;}
.main_table_style table tbody td .cf{color:red;}
.main_table_style table thead.bdt th{border-top:1px solid #ccc;}
.main_table_style table thead.bdt th.first{border-left:1px solid #ccc;}
.main_table_style table tbody.bdl td.first{border-left:1px solid #ccc;}
.main_table_style table thead th.blank{background-color:#FFF; border-bottom:0;border-top:0;}
.main_table_style table tbody td.blank{border-bottom:0;}

.table_postinglist_style{overflow-x:auto; margin:0 auto;}
.table_postinglist_style table {margin-bottom:10px;}
.table_postinglist_style table thead th{background-color:#31A5A7; color:#fff; padding:7px 0; border-right:1px solid #ccc;}
.table_postinglist_style table thead th.last{border-right:0;}
.table_postinglist_style table tbody th{color:#777; padding:5px 0; border-bottom:1px solid #ccc; border-right:1px solid #ccc;}
.table_postinglist_style table tbody td{padding:10px 5px; border-bottom:1px solid #ccc; border-right:1px solid #ccc; text-align:center;}
.table_postinglist_style table tbody td.alignL{text-align:left;}
.table_postinglist_style table tbody td.alignR{text-align:right;}
.table_postinglist_style table tbody td.bold{font-weight:bold;}
.table_postinglist_style table tbody td.last{border-right:0;}
.table_postinglist_style table tbody td.gubun_td .gubun1{color:green;}
.table_postinglist_style table tbody td.gubun_td .gubun3{color:blue;}
.table_postinglist_style table tbody td.gubun_td .gubun3{color:orange;}
.table_postinglist_style table tbody td.chk_td .wait{color:red;}
.table_postinglist_style table tbody td.chk_td .complete{color:#aaa;}
.table_postinglist_style table tbody td.link_td a{text-decoration:underline;}
.table_postinglist_style table tbody td.link_td a.red{color:red;}
.table_postinglist_style table tbody td.date_td .date{color:blue;}
.table_postinglist_style table tbody td.date_td .time{color:green;}
.table_postinglist_style table tbody td .cf{color:red;}
.table_postinglist_style table thead.bdt th{border-top:1px solid #ccc;}
.table_postinglist_style table thead.bdt th.first{border-left:1px solid #ccc;}
.table_postinglist_style table tbody.bdl td.first{border-left:1px solid #ccc;}
.table_postinglist_style table thead th.blank{background-color:#FFF; border-bottom:0;border-top:0;}
.table_postinglist_style table tbody td.blank{border-bottom:0;}

.table_review_total_list_style{margin:0;}
.table_review_total_list_style table {margin-bottom:10px;}
.table_review_total_list_style table thead th{background-color:#31A5A7; color:#fff; padding:7px 0; border-right:1px solid #ccc;}
.table_review_total_list_style table thead th.last{border-right:0;}
.table_review_total_list_style table tbody th{color:#777; padding:5px 0; border-bottom:1px solid #ccc; border-right:1px solid #ccc;}
.table_review_total_list_style table tbody td{border-bottom:1px solid #ccc; border-right:1px solid #ccc; text-align:center; word-break:break-all;}
.table_review_total_list_style table tbody td.alignL{text-align:left;}
.table_review_total_list_style table tbody td.alignR{text-align:right;}
.table_review_total_list_style table tbody td.bold{font-weight:bold;}
.table_review_total_list_style table tbody td.last{border-right:0;}
.table_review_total_list_style table tbody td.gubun_td .gubun1{color:green;}
.table_review_total_list_style table tbody td.gubun_td .gubun3{color:blue;}
.table_review_total_list_style table tbody td.gubun_td .gubun3{color:orange;}
.table_review_total_list_style table tbody td.chk_td .wait{color:red;}
.table_review_total_list_style table tbody td.chk_td .complete{color:#aaa;}
.table_review_total_list_style table tbody td.link_td a{text-decoration:underline;}
.table_review_total_list_style table tbody td.link_td a.red{color:red;}
.table_review_total_list_style table tbody td.date_td .date{color:blue;}
.table_review_total_list_style table tbody td.date_td .time{color:green;}
.table_review_total_list_style table tbody td .cf{color:red;}
.table_review_total_list_style table thead.bdt th{border-top:1px solid #ccc;}
.table_review_total_list_style table thead.bdt th.first{border-left:1px solid #ccc;}
.table_review_total_list_style table tbody.bdl td.first{border-left:1px solid #ccc;}
.table_review_total_list_style table thead th.blank{background-color:#FFF; border-bottom:0;border-top:0;}
.table_review_total_list_style table tbody td.blank{border-bottom:0;}
.table_review_total_list_style tbody td.gubun_td .kind_gubun1{color:#f77b18;}
.table_review_total_list_style tbody td.gubun_td .kind_gubun2{color:#5175fe;}
.table_review_total_list_style tbody td.gubun_td .kind_gubun3{color:#63F;}
.table_review_total_list_style tbody td.gubun_td .kind_gubun4{color:#f77b18;}
.table_review_total_list_style tbody td.gubun_td .kind_gubun5{color:#63F;}


.table_bloglist_style{margin:0;}
.table_bloglist_style table {margin-bottom:10px; min-width:1800px;}
.table_bloglist_style table thead th{background-color:#31A5A7; color:#fff; padding:7px 0; border-right:1px solid #ccc;}
.table_bloglist_style table thead th.last{border-right:0;}
.table_bloglist_style table tbody th{color:#777; padding:5px 0; border-bottom:1px solid #ccc; border-right:1px solid #ccc;}
.table_bloglist_style table tbody td{padding:10px 5px; border-bottom:1px solid #ccc; border-right:1px solid #ccc; text-align:center;}
.table_bloglist_style table tbody td.alignL{text-align:left;}
.table_bloglist_style table tbody td.alignR{text-align:right;}
.table_bloglist_style table tbody td.bold{font-weight:bold;}
.table_bloglist_style table tbody td.last{border-right:0;}
.table_bloglist_style table tbody td.gubun_td .gubun1{color:green;}
.table_bloglist_style table tbody td.gubun_td .gubun3{color:blue;}
.table_bloglist_style table tbody td.gubun_td .gubun3{color:orange;}
.table_bloglist_style table tbody td.chk_td .wait{color:red;}
.table_bloglist_style table tbody td.chk_td .complete{color:#aaa;}
.table_bloglist_style table tbody td.link_td a{text-decoration:underline;}
.table_bloglist_style table tbody td.link_td a.red{color:red;}
.table_bloglist_style table tbody td.date_td .date{color:blue;}
.table_bloglist_style table tbody td.date_td .time{color:green;}
.table_bloglist_style table tbody td .cf{color:red;}
.table_bloglist_style table thead.bdt th{border-top:1px solid #ccc;}
.table_bloglist_style table thead.bdt th.first{border-left:1px solid #ccc;}
.table_bloglist_style table tbody.bdl td.first{border-left:1px solid #ccc;}
.table_bloglist_style table thead th.blank{background-color:#FFF; border-bottom:0;border-top:0;}
.table_bloglist_style table tbody td.blank{border-bottom:0;}

.table_blogger_selection_style{margin:0;}
.table_blogger_selection_style table {margin-bottom:10px;}
.table_blogger_selection_style table thead th{background-color:#31A5A7; color:#fff; padding:7px 0; border-right:1px solid #ccc;}
.table_blogger_selection_style table thead th.last{border-right:0;}
.table_blogger_selection_style table tbody th{color:#777; padding:5px 0; border-bottom:1px solid #ccc; border-right:1px solid #ccc;}
.table_blogger_selection_style table tbody td{border-bottom:1px solid #ccc; border-right:1px solid #ccc; text-align:center;}
.table_blogger_selection_style table tbody td.alignL{text-align:left;}
.table_blogger_selection_style table tbody td.alignR{text-align:right;}
.table_blogger_selection_style table tbody td.bold{font-weight:bold;}
.table_blogger_selection_style table tbody td.last{border-right:0;}
.table_blogger_selection_style table tbody td.gubun_td .gubun1{color:green;}
.table_blogger_selection_style table tbody td.gubun_td .gubun3{color:blue;}
.table_blogger_selection_style table tbody td.gubun_td .gubun3{color:orange;}
.table_blogger_selection_style table tbody td.chk_td .wait{color:red;}
.table_blogger_selection_style table tbody td.chk_td .complete{color:#aaa;}
.table_blogger_selection_style table tbody td.link_td a{text-decoration:underline;}
.table_blogger_selection_style table tbody td.link_td a.red{color:red;}
.table_blogger_selection_style table tbody td.date_td .date{color:blue;}
.table_blogger_selection_style table tbody td.date_td .time{color:green;}
.table_blogger_selection_style table tbody td .cf{color:red;}
.table_blogger_selection_style table thead.bdt th{border-top:1px solid #ccc;}
.table_blogger_selection_style table thead.bdt th.first{border-left:1px solid #ccc;}
.table_blogger_selection_style table tbody.bdl td.first{border-left:1px solid #ccc;}
.table_blogger_selection_style table thead th.blank{background-color:#FFF; border-bottom:0;border-top:0;}
.table_blogger_selection_style table tbody td.blank{border-bottom:0;}

/* table_top_style */
.table_top_style{margin:0;}
.table_top_style table {margin-bottom:10px;}
.table_top_style table tbody th{padding:5px 0; border-bottom:2px dotted #777; border-right:2px dotted #777; text-align:left;}
.table_top_style table tbody th.first_top{border-top:2px dotted #777;}
.table_top_style table tbody th.first{border-left:2px dotted #777;}
.table_top_style table tbody th.alignC{text-align:center;}
.table_top_style table tbody td.date .day{color:blue;}
.table_top_style table tbody td.date .time{color:green;}
.table_top_style table tbody td{border-bottom:2px dotted #777; border-right:2px dotted #777; text-align:left; padding:4px 2px;}
.table_top_style table tbody td.first_top{border-top:2px dotted #777;}

/* table_list_style */
.table_list_style{margin:0;}
.table_list_style table {margin-bottom:10px;table-layout:fixed;}
.table_list_style table thead th{background-color:rgba(119, 119, 119, 1); color:#fff; padding:0; border-right:1px solid #ccc; border-top: 1px solid #ccc;}
.table_list_style table thead th.first{border-left:1px solid #ccc;}
.table_list_style table tbody th{color:#777; padding:5px 0; border-bottom:1px solid #ccc; border-right:1px solid #ccc;}
.table_list_style table tbody td{border-bottom:1px solid #ccc; border-right:1px solid #ccc; text-align:center; padding:2px 2px; }
.table_list_style table tbody td.first{border-left:1px solid #ccc;}
.table_list_style table tbody td.paging_wrap{border:0;background-color:#ccc;}
.table_list_style table tbody td.list_button{border:0;}
.table_list_style table tbody td.alignL{text-align:left;}
.table_list_style table tbody td.alignR{text-align:right;}
.table_list_style table tbody td.bg_point{background-color:#EEF2FF;}
.table_list_style table tbody td.bg_point_red{background-color:#FFEEF2;}
.table_list_style table tbody td.bold{font-weight:bold;}
.table_list_style table tbody td.colorR{color:red;}
.table_list_style table tbody td.colorG{color:green;}
.table_list_style table tbody td.colorB{color:blue;}
.table_list_style table tbody td.bgblue{background-color:#d7f5ff}
.table_list_style table tbody td.bgpurple{background-color:#eae3ff;}
.table_list_style table tbody td.bgyellow{background-color:#fffaa4;}
.table_list_style table tbody td.bgred{background-color:#ffa4a4;}
.table_list_style table tbody td.gubun_td .kind_gubun1{color:#f77b18;}
.table_list_style table tbody td.gubun_td .kind_gubun2{color:#5175fe;}
.table_list_style table tbody td.gubun_td .kind_gubun3{color:#63F;}
.table_list_style table tbody td.gubun_td .kind_gubun4{color:#f77b18;}
.table_list_style table tbody td.gubun_td .kind_gubun5{color:#63F;}
.table_list_style table tbody td.gubun_td .gubun1{color:green;}
.table_list_style table tbody td.gubun_td .gubun3{color:blue;}
.table_list_style table tbody td.gubun_td .gubun3{color:orange;}
.table_list_style table tbody td.chk_td .wait{color:red;}
.table_list_style table tbody td.chk_td .complete{color:#aaa;}
.table_list_style table tbody td.link a{text-decoration:underline; color:blue;}
.table_list_style table tbody td.link a.red{color:red;}
.table_list_style table tbody td.description{color:#999;}
.table_list_style table tbody td.date .day{color:blue; text-align:right;}
.table_list_style table tbody td.date .time{color:green; text-align:right;}
.table_list_style table tbody td.money{text-align:right; color:red; font-weight:bold; font-size:14px;}
.table_list_style table tbody td .cf{color:red;}
.table_list_style table thead.bdt th{border-top:1px solid #ccc;}
.table_list_style table thead.bdt th.first{border-left:1px solid #ccc;}
.table_list_style table tbody.bdl td.first{border-left:1px solid #ccc;}
.table_list_style table thead th.blank{background-color:#FFF; border-bottom:0;border-top:0;}
.table_list_style table tbody td.blank{border-bottom:0;}
/* table_list_style */

/* table_contents_style */
.table_contents_style{margin:0;}
.table_contents_style table {margin-bottom:10px;}
.table_contents_style table thead th{background-color:rgba(119, 119, 119, 1); color:#fff; padding:7px 0; border-bottom:1px solid #ccc; border-right:1px solid #ccc;}
.table_contents_style table thead th.first{border-left:1px solid #ccc;}
.table_contents_style table tbody th{background-color:rgba(119, 119, 119, 1); color:#fff; padding:7px 0; border-bottom:1px solid #ccc; border-right:1px solid #ccc;}
.table_contents_style table tbody th.first{border-left:1px solid #ccc; text-align:center;}
.table_contents_style table tbody td{border-bottom:1px solid #ccc; border-right:1px solid #ccc; text-align:left; padding:4px 2px;}
.table_contents_style table tbody td.alignL{text-align:left;}
.table_contents_style table tbody td.alignR{text-align:right;}
.table_contents_style table tbody td.bg_point{background-color:#EEF2FF;}
.table_contents_style table tbody td.bg_point_red{background-color:#FFEEF2;}
.table_contents_style table tbody td.bold{font-weight:bold;}
.table_contents_style table tbody td.date .day{color:blue;}
.table_contents_style table tbody td.date .time{color:green;}
/* table_contents_style */

.table_reward_list_style{margin:0;}
.table_reward_list_style table {margin-bottom:10px;}
.table_reward_list_style table thead th{background-color:#31A5A7; color:#fff; padding:7px 0; border-right:1px solid #ccc;}
.table_reward_list_style table thead th.last{border-right:0;}
.table_reward_list_style table tbody th{color:#777; padding:5px 0; border-bottom:1px solid #ccc; border-right:1px solid #ccc;}
.table_reward_list_style table tbody td{border-bottom:1px solid #ccc; border-right:1px solid #ccc; text-align:center;}
.table_reward_list_style table tbody td.alignL{text-align:left;}
.table_reward_list_style table tbody td.alignR{text-align:right;}
.table_reward_list_style table tbody td.bg_point{background-color:#EEF2FF;}
.table_reward_list_style table tbody td.bg_point_red{background-color:#FFEEF2;}
.table_reward_list_style table tbody td.bold{font-weight:bold;}
.table_reward_list_style table tbody td.last{border-right:0;}
.table_reward_list_style table tbody td.gubun_td .kind_gubun1{color:#f77b18;}
.table_reward_list_style table tbody td.gubun_td .kind_gubun2{color:#5175fe;}
.table_reward_list_style table tbody td.gubun_td .kind_gubun3{color:#63F;}
.table_reward_list_style table tbody td.gubun_td .kind_gubun4{color:#f77b18;}
.table_reward_list_style table tbody td.gubun_td .kind_gubun5{color:#63F;}
.table_reward_list_style table tbody td.gubun_td .gubun1{color:green;}
.table_reward_list_style table tbody td.gubun_td .gubun3{color:blue;}
.table_reward_list_style table tbody td.gubun_td .gubun3{color:orange;}
.table_reward_list_style table tbody td.chk_td .wait{color:red;}
.table_reward_list_style table tbody td.chk_td .complete{color:#aaa;}
.table_reward_list_style table tbody td.link_td a{text-decoration:underline;}
.table_reward_list_style table tbody td.link_td a.red{color:red;}
.table_reward_list_style table tbody td.date_td .date{color:blue;}
.table_reward_list_style table tbody td.date_td .time{color:green;}
.table_reward_list_style table tbody td .cf{color:red;}
.table_reward_list_style table thead.bdt th{border-top:1px solid #ccc;}
.table_reward_list_style table thead.bdt th.first{border-left:1px solid #ccc;}
.table_reward_list_style table tbody.bdl td.first{border-left:1px solid #ccc;}
.table_reward_list_style table thead th.blank{background-color:#FFF; border-bottom:0;border-top:0;}
.table_reward_list_style table tbody td.blank{border-bottom:0;}

.alignL{text-align:left;}
.w10 {width:10px;}
.w20 {width:20px;}
.w30 {width:30px;}
.w40 {width:40px;}
.w45 {width:45px;}
.w70 {width:70px;}
.w80 {width:80px;}
.w90 {width:90px;}
.w100 {width:100px;}
.w110 {width:110px;}
.w140 {width:140px;}
.w150 {width:150px;}
.w180 {width:180px;}
.w200 {width:200px;}
.w220 {width:220px;}
.w250 {width:250px;}
.w280 {width:280px;}
.w300 {width:300px;}
.w320 {width:320px;}
.w350 {width:350px;}
.w380 {width:380px;}
.w400 {width:400px;}
.w420 {width:420px;}
.w450 {width:450px;}
.w500 {width:500px;}
.w560 {width:560px;}
.w600 {width:600px;}
.w700 {width:700px;}




.no_bd table thead th{border-right:0; border-bottom:0;}
.no_bd table tbody td{border-right:0; border-bottom:0;}

.no_bdr table thead th{border-right:0;position:relative;}
.no_bdr table tbody td{border-right:0;}

.pop-layer .pop-container {
  padding: 10px 10px;
}

.pop-layer .btn-r {
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid #DDD;
  text-align: right;
}

.pop-layer {
	display: none;
	position: absolute;
	bottom: 5%;
	left: 50%;
	height: auto;
	background-color: #fff;
	border: 5px solid #3092c1;
	z-index: 10;
}
@media all and (min-width:600px) {
	.pop-layer {
		display: none;
		position: absolute;
		bottom: 20%;
		left: 35%;
		height: auto;
		background-color: #fff;
		border: 5px solid #3092c1;
		z-index: 10;
	}
}

.dim-layer {
  display: none;
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.dim-layer .dimBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);
}

.dim-layer .pop-layer {
  display: block;
}

a.btn-layerClose {
  display: inline-block;
  height: 27px;
  padding: 0 18px 0;
  background-color: #6e6e6e;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
}

a.btn-layerClose:hover {
  border: 1px solid #091940;
  background-color: #1f326a;
  color: #fff;
}

.layer_popup {border-top:1px solid #ccc; border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;background-color:#fff;display: none;width:500px; left: 690px; position: absolute; top: 390px; margin:0; padding:15px}
.layer_popup_1 {border-top:1px solid #ccc; border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;background-color:#fff;display: none;width:500px; left: 1200px; position: absolute; top: 390px; margin:0; padding:15px}
.dummy_cell table tbody td{border-top:1px #000000 solid; height:1px; margin:0; padding:0}
.layer {display:none; width:200px; border:1px solid #ccc;}

input.input_type1{width:270px; padding:3px 1px; vertical-align:middle;}
input.input_type2{width:70px; padding:3px 1px; vertical-align:middle;}
input.input_type3{width:100px; padding:3px 1px; vertical-align:middle;}
input.input_type3_big{width:100px; padding:3px 1px; vertical-align:middle; font-weight:bold; font-size:15px; color:#666;}
input.input_type4{width:400px; padding:3px 1px; vertical-align:middle;}
input.input_type5{width:170px; padding:3px 1px; vertical-align:middle;}
input.input_type6{width:40px; padding:3px 1px; vertical-align:middle;}
input.input_type7{width:200px; padding:3px 1px; vertical-align:middle;}
input.input_type8{width:600px; padding:3px 1px; vertical-align:middle;}
input.input_type_date{width:80px; padding:3px 1px; vertical-align:middle; text-align: center;}
input.input_type_date_small{width:76px; padding:3px 1px; vertical-align:middle; text-align: center;}
input.input_type_money{width:102px; padding:3px 1px; color:red; font-weight:bold; font-size:15px; vertical-align:middle;text-align: right;}
input.input_type_name{width:90px; padding:3px 1px; margin-bottom:5px;}
input.input_type_nname{width:120px; padding:3px 1px; margin-bottom:5px;}
input.input_type_w40{width:40px; padding:3px 1px; vertical-align:middle;}
input.input_type_w90{width:90px; padding:3px 1px; vertical-align:middle;}
input.input_type_w120{width:120px; padding:3px 1px; vertical-align:middle;}
input.input_type_w200{width:200px; padding:3px 1px; vertical-align:middle;}
input.input_type_w300{width:300px; padding:3px 1px; vertical-align:middle;}

input.input_type3_readonly{width:100px; padding:3px 1px; vertical-align:middle; background-color:#ebebe4;}
input.input_type5_readonly{width:170px; padding:3px 1px; vertical-align:middle; background-color:#ebebe4;}
input.input_type6_readonly{width:40px; padding:3px 1px; vertical-align:middle; background-color:#ebebe4;}
input.input_type7_readonly{width:200px; padding:3px 1px; vertical-align:middle; background-color:#ebebe4;}
input.input_type_money_readonly{width:102px; padding:3px 1px; color:red; font-weight:bold; font-size:15px; vertical-align:middle;text-align: right; background-color:#ebebe4;}
input.input_type_date_readonly{width:80px; padding:3px 1px; vertical-align:middle; text-align: center; background-color:#ebebe4;}
input.input_type_date_small_readonly{width:76px; padding:3px 1px; vertical-align:middle; text-align: center; background-color:#ebebe4;}
input.input_type_w120_readonly{width:120px; padding:3px 1px; vertical-align:middle; background-color:#ebebe4;}


input.checkbox_type1{width:18px;height:18px; padding:3px 1px; vertical-align:middle;}

select.select_type1{width:80px; padding:3px 1px; vertical-align:middle; height:28px;}
select.select_type2{width:110px; padding:3px 1px; vertical-align:middle; height:28px;}
select.select_type2_big{width:110px; padding:3px 1px; vertical-align:middle;  font-weight:bold; font-size:15px; color:#666; height:28px;}
select.select_type3{width:170px; padding:3px 1px; vertical-align:middle; height:28px;}
select.select_type4{width:40px; padding:3px 1px; vertical-align:middle; height:28px;}
select.select_type5{width:50px; padding:3px 1px; vertical-align:middle; height:28px;}
select.select_type_groupbox{width:180px; padding:3px 1px; vertical-align:middle;}
select.select_type_w120{width:120px; padding:3px 1px; vertical-align:middle;}
select.select_type_w200{width:200px; padding:3px 1px; vertical-align:middle; height:28px;}

select.select_type1_disabled{width:80px; padding:3px 1px; vertical-align:middle; height:28px; background-color:#ebebe4;}
select.select_type2_disabled{width:110px; padding:3px 1px; vertical-align:middle; height:28px; background-color:#ebebe4;}
select.select_type3_disabled{width:170px; padding:3px 1px; vertical-align:middle; height:28px; background-color:#ebebe4;}

select:disabled {background:#ebebe4;}
textarea.textarea_type1{width:600px; padding:3px 1px; vertical-align:middle;}
/* textarea.textarea_type2{width:150px; padding:3px 1px; margin-bottom:5px;} */
textarea.textarea_type2{width:280px; height: padding:3px 1px; verbtn_smalltical-align:middle;}
textarea.textarea_type3{width:600px; padding:3px 1px; vertical-align:middle;}
textarea.textarea_type4{width:380px; padding:3px 1px; vertical-align:middle;}
textarea.textarea_memo{width:280px; height:55px; padding:3px 1px; verbtn_smalltical-align:middle;}
textarea.textarea_memo_contents{width:600px; height:60px; padding:3px 1px; verbtn_smalltical-align:middle;}
textarea.textarea_work_message{width:140px; height:50px; padding:3px 1px; verbtn_smalltical-align:middle;}
textarea.textarea_memo2{width:240px; height:70px; padding:3px 1px; verbtn_smalltical-align:middle;}
textarea.textarea_memo_small{width:160px; height:48px; padding:3px 1px; verbtn_smalltical-align:middle;}
textarea.textarea_memo_detail{width:280px; height:100px; padding:3px 1px; verbtn_smalltical-align:middle;}
textarea.textarea_guide{width:600px; height:400px; padding:3px 1px; vertical-align:middle;}

textarea.textarea_work_message_readonly{width:140px; height:50px; padding:3px 1px; verbtn_smalltical-align:middle; background-color:#ebebe4;}
textarea.textarea_memo2_readonly{width:240px; height:70px; padding:3px 1px; verbtn_smalltical-align:middle; background-color:#ebebe4;}
textarea.textarea_prd_description_readonly{width:200px; height:100px; padding:3px 1px; verbtn_smalltical-align:middle; background-color:#ebebe4;}
textarea.textarea_market_price_readonly{width:120px; height:70px; padding:3px 1px; verbtn_smalltical-align:middle; background-color:#ebebe4;}
textarea.textarea_type4_readonly{width:380px; padding:3px 1px; vertical-align:middle; background-color:#ebebe4;}

/* ul_style*/
ul.table_caution{padding:10px 20px;}
	ul.table_caution li{background:url('../images/listyle_bg1.gif') 0 5px no-repeat; padding-left:5px;}
ul.footer_list{overflow:hidden;}
	ul.footer_list li.no_bg{background:none;}
	ul.footer_list li.left{clear:left;}
ul.cat_style{overflow:hidden;}
	ul.cat_style li.no_bg{background:none;}

/* application */
.application{width:750px; margin:0 auto;}
.application h3{width:300px; padding:10px 0 10px 10px; background-color:#09a478; color:#FFF;}
.application h4.title{text-align:center; font-weight:normal; font-size:14px; padding:20px 0;}

/* admin */

div.notice_warp{position:relative; min-width:940px; /*margin:80px 0 0 5px; padding-bottom:30px;*/}

div.header_warp{position:absolute; top:70px; left:0; width:100%; z-index:1; background-color:#363636; padding:10px 0;  }
div.header{position:absolute; top:70px; left:0; width:100%; z-index:2;}
	/* div.gnb_wrap{width:940px; margin:0 auto; z-index:2;} */

	div.gnb_wrap{min-width:940px; width:98%; margin:0 auto; z-index:3; }
		ul.gnb{width:100%; overflow:hidden;}
		ul.gnb > li{float:left; width:148px; background-color:#363636;}
		ul.gnb > li a{padding:10px; display:block; color:#FFF; font-weight:bold;}
		ul.gnb ul.sub{display:none; background-color:#777;}
/* div.admin_content{position:relative; width:940px; margin:100px auto 0; overflow-x:auto; padding-bottom:30px;} */
/* div.admin_content{position:relative; min-width:940px; width:4000px; margin:100px auto 0; overflow-x:auto; padding-bottom:30px;} */
/* div.admin_content{position:relative; min-width:940px; margin:100px auto 0; overflow-x:auto; padding-bottom:30px;} */
div.admin_content{position:relative; min-width:940px; max-width:1800px; margin:30px 0 0 10px; padding-bottom:30px;}
	.admin_content h2.title{font-weight:bold; font-size:30px;width: 1220px;}
	.admin_content h2.title_kind0{font-weight:bold; font-size:30px; margin-bottom:10px;}
	.admin_content h2.title_kind1{font-weight:bold; font-size:30px; margin-bottom:10px; color:#f77b18;}
	.admin_content h2.title_kind2{font-weight:bold; font-size:30px; margin-bottom:10px; color:#5175fe;}
	.admin_content h2.title_kind3{font-weight:bold; font-size:30px; margin-bottom:10px; color:#63F;}
	.admin_content h2.title_kind4{font-weight:bold; font-size:30px; margin-bottom:10px; color:#f77b18;}
	.admin_content h2.title_kind5{font-weight:bold; font-size:30px; margin-bottom:10px; color:#63F;}
	.admin_content h4.title{text-align:center; font-weight:normal; font-size:14px; padding:20px 0;}
	.admin_content span.txt{display:inline-block;}
div.admin_content1{position:relative; min-width:940px; width:100%; margin:80px 0 0 5px; overflow-x:auto; padding-bottom:30px;}
	.admin_content1 h2.title{font-weight:bold; font-size:30px;}
	.admin_content1 h2.title_kind0{font-weight:bold; font-size:30px; margin-bottom:10px;}
	.admin_content1 h2.title_kind1{font-weight:bold; font-size:30px; margin-bottom:10px; color:#f77b18;}
	.admin_content1 h2.title_kind2{font-weight:bold; font-size:30px; margin-bottom:10px; color:#5175fe;}
	.admin_content1 h2.title_kind3{font-weight:bold; font-size:30px; margin-bottom:10px; color:#63F;}
	.admin_content1 h2.title_kind4{font-weight:bold; font-size:30px; margin-bottom:10px; color:#f77b18;}
	.admin_content1 h2.title_kind5{font-weight:bold; font-size:30px; margin-bottom:10px; color:#63F;}
	.admin_content1 h3{width:300px; padding:10px 0 10px 10px; background-color:#09a478; color:#FFF; margin-bottom: 20px;}
	.admin_content1 h4.title{text-align:center; font-weight:normal; font-size:14px; padding:20px 0;}
	.admin_content1 span.txt{display:inline-block;}

div.admin_content_popup{position:relative; min-width:940px; width:100%; overflow-x:auto; margin:0 auto;}
	.admin_content_popup h3{width:300px; padding:10px 0 10px 10px; background-color:#09a478; color:#FFF;}
	.admin_content_popup h4.title{text-align:center; font-weight:normal; font-size:14px; padding:20px 0;}
	.admin_content_popup span.txt{display:inline-block;}
	.admin_content_popup table thead th{background-color:#31A5A7; color:#fff; padding:7px 0; border-right:1px solid #ccc;}
	.admin_content_popup table thead th.last{border-right:0;}
	.admin_content_popup table tbody th{color:#777; padding:5px 0; border-bottom:1px solid #ccc; border-right:1px solid #ccc;}
	.admin_content_popup table tbody td{border-bottom:1px solid #ccc; border-right:1px solid #ccc; word-break:break-all;}
	.admin_content_popup table tbody td.alignL{text-align:left;}
	.admin_content_popup table tbody td.alignR{text-align:right;}
	.admin_content_popup table tbody td.bold{font-weight:bold;}
	.admin_content_popup table tbody td.last{border-right:0;}
	.admin_content_popup table tbody td.gubun_td .gubun1{color:green;}
	.admin_content_popup table tbody td.gubun_td .gubun3{color:blue;}
	.admin_content_popup table tbody td.gubun_td .gubun3{color:orange;}
	.admin_content_popup table tbody td.chk_td .wait{color:red;}
	.admin_content_popup table tbody td.chk_td .complete{color:#aaa;}
	.admin_content_popup table tbody td.link_td a{text-decoration:underline;}
	.admin_content_popup table tbody td.link_td a.red{color:red;}
	.admin_content_popup table tbody td.date_td .date{color:blue;}
	.admin_content_popup table tbody td.date_td .time{color:green;}
	.admin_content_popup table tbody td .cf{color:red;}
	.admin_content_popup table thead.bdt th{border-top:1px solid #ccc;}
	.admin_content_popup table thead.bdt th.first{border-left:1px solid #ccc;}
	.admin_content_popup table tbody.bdl td.first{border-left:1px solid #ccc;}
	.admin_content_popup table thead th.blank{background-color:#FFF; border-bottom:0;border-top:0;}
	.admin_content_popup table tbody td.blank{border-bottom:0;}

div.admin_content_popup1{position:relative; min-width:940px; width:100%; overflow-x:auto; padding-bottom:30px;}
	.admin_content_popup1 h3{width:300px; padding:10px 0 10px 10px; background-color:#09a478; color:#FFF;}
	.admin_content_popup1 h4.title{text-align:center; font-weight:normal; font-size:14px; padding:20px 0;}
	.admin_content_popup1 span.txt{display:inline-block;}

span.state_tit{margin-right:15px;}
span.state_tit a{text-decoration:underline; color:blue;}
span.state_tit.tab{margin-left:200px;}
div.search_select_wrap{display:none; border:1px solid #ddd; padding:20px 5px; position:absolute; top:100px; left:800px; background-color:#eee; z-index:1;}
	div.search_select_wrap span.close{position:absolute; right:5px; top:2px; display:block; padding:0 3px; cursor:pointer;}
	div.search_select_wrap ul.sort_type{width:120px; height:60px; overflow-y:auto;}
	div.search_select_wrap ul.choice{width:120px; height:60px; overflow-y:auto;}

/* pading */
.paging_wrap{text-align:center; margin-top:15px; margin-bottom:15px; font-size:13px;}
.paging_wrap a{margin:0 5px;}
.paging_wrap .on{font-weight:bold; padding:0 5px;}

/* popup */
div.popup_wrap{border:1px solid #ddd; padding:20px; display:inline-block;}
div.popup_wrap p.tit_txt{width:300px; margin:0 auto;}

.pop-header{position:relative;height:35px;padding:8px 15px 2px;background:#63b6ea;}
.pop-header .tit{font-weight:bold;font-size:20px;color:#ffffff;}
.pop-header .btn-close{position:absolute;right:7px;top:5px;}

#cboxClose{position:absolute; top:5px; right:5px; display:block; background:url(images/btn_close.png) no-repeat top center; width:35px; height:35px; text-indent:-9999px;}
#cboxClose:hover{background-position:bottom center;}



.imgSelect {
	cursor: pointer;
}

.popupLayer {
	position: absolute;
	display: none;
	background-color: #ffffff;
	border: solid 2px #d0d0d0;
	width: 350px;
	height: 150px;
	padding: 10px;
}
.popupLayer div {
	position: absolute;
	top: 5px;
	right: 5px
}




/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}


/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ffa1a1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffa1a1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(9px);
  -ms-transform: translateX(9px);
  transform: translateX(9px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



.star_shape_fill:after {
	content:'\f005';
	color: #ffa1a1;
	font-size: 12px;
	position: relative;
	margin: 0px 0px 0px 0px;
	padding: 0 0 0 0;
	font-family: FontAwesome;
}
.star_shape_empty:after {
	content:'\f006';
	color: #444;
	font-size: 12px;
	position: relative;
	margin: 0px 0px 0px 0px;
	padding: 0 0 0 0;
	font-family: FontAwesome;
}

div.stars{
  width: 350px;
  display: inline-block;
}

input.star{
	display:none;
	/* visibility:hidden; */
}

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content:'\f005';

	color: #777777; /* black */
  /*color: #FD4; /* yellow */
  transition: all .25s;
}

/*
input.star-5:checked ~ label.star:before {
  color:#FE7; / * yellow effect * /
  text-shadow: 0 0 20px #952;
}
*/

input.star-1:checked ~ label.star:before {
  color: #F62; /* red */
}

input.star-5:checked ~ label.star:before {
  color: #03a9f4; /* blue */
}

label.star:hover{
  transform: rotate(-15deg) scale(1.3);
}

label.star:before{
  content:'\f006';
  font-family: FontAwesome;
}

/** 휴일 표기 Css */
.date-preday .ui-state-default, .date-usefulday .ui-state-default{color: black !important;}
.date-holiday .ui-state-default{color: red !important; background: #ff9a9a !important;}
th.ui-datepicker-week-end{color: red;}
.date-sunday .ui-state-default{color: red !important;}
.ui-datepicker-calendar thead > tr > th:nth-child(7), .date-saturday .ui-state-default{color: #1c94c4;}

/** Chart Css */
.chart-row-line:nth-child(even){background-color:#eefaff;}
.chart-row-total{background-color:#d3d3d3;}
.chart-table-total{background-color:#ffe0e0;}
.copy-table-btn{background: #565656; padding: 5px 10px; border: 0; border-radius: 5px;color: white; cursor: pointer;}
